* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* header styling */

header {
	font-size: 18px;
	background-color: rgba(36, 142, 212, 0.247);
	width: 100%;
	position: sticky;
	top: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.nav-gif {
	width: 100px;
	border-radius: 50%;
	cursor: pointer;
}

.nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-flex-2 {
	display: flex;
	align-items: center;
	gap: 25px;
}

a {
	color: white;
	text-decoration: none;
	transition: 500ms;
}

/* .active {
	background-color: magenta;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	cursor: pointer;
	transition: 500ms;
} */

li:hover a {
	color: black;
}

.nav-flex-2 > li {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	cursor: pointer;
	transition: 500ms;
}

.nav-flex-2 > li:hover {
	background-color: aqua;
	color: black;
}

ul {
	list-style: none;
}

/* end of header styling */

/* home page styling*/

.welcome {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-size: 64px;
	text-align: center;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 25px;
	padding: 15px;
}

.description-container {
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 50px;
	color: white;
	font-size: 30px;
}

.description {
	padding: 100px;
}

/* end of home page styling*/

body {
	background-image: url(imgs/retro-img.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: black;
}

.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.ranks-container {
	box-sizing: border-box;
	color: white;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	/* overflow-y: scroll; */
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
}

.glass {
	backdrop-filter: blur(20px);
	z-index: 1;
}

.player-grid {
	display: grid;

	grid-template-columns: repeat(6, 1fr);
	gap: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.end {
	text-align: center;
}

.aram-rankings-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.retro-span {
	color: aqua;
}

.future-span {
	color: magenta;
}

.aram-span,
.rankings-span {
	color: gold;
}

hr {
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	height: 0.75px;
	border: none;
	background-color: white;
}

.grid-key > h4 {
	color: aqua;
}
