/* start of global styling*/
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url(imgs/retro-img.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: black;
}

.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.glass {
	backdrop-filter: blur(20px);
	z-index: 1;
}

/* end of global styling*/

/* header styling */

header {
	font-size: 18px;
	background-color: rgba(36, 142, 212, 0.247);
	width: 100%;
	position: sticky;
	top: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.nav-gif {
	width: 100px;
	border-radius: 50%;
	cursor: pointer;
}

.nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-flex-2 {
	display: flex;
	align-items: center;
	gap: 25px;
}

.nav-flex-2 a {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	transition: 500ms;
	text-decoration: none;
}

.nav-flex-2 .active {
	background-color: magenta;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	transition: 500ms;
}

.nav-flex-2 a:hover {
	background-color: aqua;
	color: black;
}

ul {
	list-style: none;
}

/* end of header styling */

/* start of home page styling*/

.welcome {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	font-size: 64px;
	text-align: center;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 25px;
	padding: 15px;
}

.description-container {
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 50px;
	color: white;
	font-size: 30px;
}

.description {
	padding: 100px;
}

/* end of home page styling*/

/* start of rankings page styling*/

.filter-key-container {
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	padding: 25px;
	margin-bottom: 25px;
	color: white;
}

.filter-key-container h3 {
	margin-bottom: 15px;
}

.ascending-key {
	margin-bottom: 5px;
}

.reverse-ascending-key {
	margin-bottom: 5px;
}

.ascending-key span {
	color: magenta;
}

.reverse-ascending-key span {
	color: aqua;
}

.ranks-container {
	box-sizing: border-box;
	color: white;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
}

.player-grid {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(6, 1fr);
	gap: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.grid-btn {
	font-weight: bolder;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	color: aqua;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.reverse-ascending {
	background-color: aqua;
	color: black;
}

.ascending {
	background-color: magenta;
	color: black;
}

.end {
	text-align: center;
}

.aram-rankings-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.retro-span {
	color: aqua;
}

.future-span {
	color: magenta;
}

.aram-span,
.rankings-span {
	color: gold;
}

hr {
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	height: 0.75px;
	border: none;
	background-color: white;
}

.grid-key > h4 {
	color: aqua;
}

/* end of rankings page styling*/

/* start of Tier List styling*/

.tier-list-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.tier-list-grid-container {
	display: grid;
	grid-template-columns: 300px 1fr;
}

.tier-list-grid-item {
	border-radius: 15px;
	height: 200px;
}

.tier-list-column-two-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
	grid-auto-flow: row;
	grid-gap: 10px;
	padding: 25px;
	padding-left: 0px;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: -1;
}

.letter-rank-tier {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 200px;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: -1;
}

.tier-list-column-two-grid-top,
.rank-tier-list-top {
	margin-top: 25px;
}

.tier-list-img-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.tier-list-img-container img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 15px;
}

.tier-list-player-name {
	background-color: rgba(250, 250, 250, 0.089);
	color: white;
	padding: 15px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* end of Tier List styling*/

/* start of team maker styling*/

.team-maker-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.team-maker-container {
	color: white;
}
