/* start of global styling*/
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.sr-only {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	top: auto;
	overflow: hidden;
}

body {
	background-color: black;
	overflow-x: hidden;
}

#bgVideo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}

.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.glass {
	backdrop-filter: blur(20px);
}
/* end of global styling*/

/* header styling */

header {
	font-size: 18px;
	background-color: rgba(36, 142, 212, 0.247);
	position: sticky;
	z-index: 9999;
	top: 0;
	left: 0;
}

.nav-gif {
	width: 75px;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
}

/* .nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
} */

/* .nav-flex-2 {
	display: flex;
	gap: 25px;
} */

.primary-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primary-navigation {
	display: flex;
	gap: 25px;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation a {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	transition: 500ms;
	text-decoration: none;
}

.primary-navigation .active {
	background-color: magenta;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	transition: 500ms;
}

.primary-navigation a:hover {
	background-color: aqua;
	color: black;
}

ul {
	list-style: none;
}

/* end of header styling */

/* start of home page styling*/

.welcome {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	font-size: 64px;
	text-align: center;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 25px;
	padding: 15px;
}

.description-container {
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	margin-top: 50px;
	color: white;
	font-size: 30px;
}

.description {
	padding: 100px;
}

/* end of home page styling*/

/* start of rankings page styling*/

.filter-key-container {
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	padding: 25px;
	margin-bottom: 25px;
	color: white;
	font-size: 20px;
}

.filter-key-container h3 {
	margin-bottom: 15px;
}

.ascending-key {
	margin-bottom: 5px;
}

.reverse-ascending-key {
	margin-bottom: 5px;
}

.ascending-key span {
	color: magenta;
}

.reverse-ascending-key span {
	color: aqua;
}

.ranks-container {
	box-sizing: border-box;
	color: white;
	border-radius: 15px;
	padding: 25px;
	width: 100%;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
}

.player-grid {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(6, 1fr);
	gap: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.grid-btn {
	font-weight: bolder;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	color: aqua;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.reverse-ascending {
	background-color: aqua;
	color: black;
}

.ascending {
	background-color: magenta;
	color: black;
}

.end {
	text-align: center;
}

.aram-rankings-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.retro-span {
	color: aqua;
}

.future-span {
	color: magenta;
}

.aram-span,
.rankings-span {
	color: gold;
}

hr {
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	height: 0.75px;
	border: none;
	background-color: white;
}

.grid-key > h4 {
	color: aqua;
}

/* end of rankings page styling*/

/* start of Tier List styling*/

.tier-list-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.tier-list-grid-container {
	display: grid;
	grid-template-columns: 300px 1fr;
}

.tier-list-grid-item {
	border-radius: 15px;
	height: 200px;
}

.tier-list-column-two-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
	grid-auto-flow: row;
	grid-gap: 10px;
	padding: 25px;
	padding-left: 0px;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: -1;
}

.letter-rank-tier {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 200px;
	background-color: rgba(36, 142, 212, 0.247);
	margin-bottom: 25px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: -1;
}

.tier-list-column-two-grid-top,
.rank-tier-list-top {
	margin-top: 25px;
}

.tier-list-img-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.tier-list-img-container img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 15px;
}

.tier-list-player-name {
	background-color: rgba(250, 250, 250, 0.089);
	color: white;
	padding: 15px;
	position: absolute;
	bottom: 15px;
	left: 15px;
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* end of Tier List styling*/

/* start of team maker styling*/

.team-maker-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.team-maker-description {
	margin-top: 25px;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	padding: 15px;
	font-size: 20px;
}

.team-maker-description p {
	margin-bottom: 7.5px;
}

.team-maker-span {
	color: aqua;
}

.team-rating-span {
	color: magenta;
}

.team-maker-container {
	box-sizing: border-box;
	margin-top: 25px;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	height: 100%;
	z-index: 1;
}

.team-maker-grid {
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 25px;
}

.teams-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

.team-one {
	border-right: 0.5px solid white;
	padding: 15px;
}

.team-two {
	border-left: 0.5px solid white;
	padding: 15px;
}

.team-one h3,
.team-one h4,
.team-two h3,
.team-two h4 {
	text-align: center;
}

.team-one h3,
.team-two h3 {
	margin-bottom: 7.5px;
}

.team-one h4,
.team-two h4 {
	margin-bottom: 20px;
}

.team-maker-player-flex {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.team-maker-player-img-container {
	width: 75px;
	height: 75px;
	border-radius: 15px;
}

.team-maker-player-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.team-maker-player-flex h1 {
	margin-right: 15px;
}

.team-maker-player-rank {
	margin-left: 15px;
}

.checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	gap: 15px;
}

.team-maker-checkboxes-container {
	padding: 15px;
}

.team-maker-checkboxes-container h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	height: 30px;
	width: 30px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
}

label {
	cursor: pointer;
}

input[type="checkbox"]:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f00c";
	font-size: 20px;
	display: none;
}

/* input[type="checkbox"]:hover {
	background-color: black;
} */

input[type="checkbox"]:checked {
	background-color: aqua;
}

input[type="checkbox"]:checked:after {
	display: block;
}

.make-teams-btn-flex {
	display: flex;
	justify-content: center;
}

.make-teams-btn {
	font-size: 18px;
	margin-top: 25px;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	background-color: aqua;
	cursor: pointer;
	transition: 400ms;
}

.make-teams-btn:hover {
	background: rgb(255, 0, 255);
	background: -moz-linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	background: linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00ff",endColorstr="#00ffff",GradientType=1);
}
/* end of team maker styling*/

/* start of ultimate aram styling*/

.ultimate-aram-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-radius: 15px;
	max-width: 900px;
	font-size: 64px;
	background-color: rgba(36, 142, 212, 0.247);
	color: white;
	padding: 15px;
}

.ultimate-aram-description {
	margin-top: 25px;
	color: white;
	background-color: rgba(36, 142, 212, 0.247);
	border-radius: 15px;
	padding: 15px;
	font-size: 20px;
}

.randomize-span {
	color: aqua;
}
.ultimate-aram-description p {
	margin-bottom: 7px;
}

.ultimate-aram-item-container {
	position: relative;
	box-sizing: border-box;
	align-items: center;
	border-radius: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	padding: 15px;
	/* min-height: 810px; */
	background-color: rgba(36, 142, 212, 0.247);
}

.ultimate-aram-item-array-empty {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ultimate-aram-item-array-empty h3 {
	position: absolute;
	font-size: 34px;
	color: white;
	top: 350px;
}

.ultimate-aram-item-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	justify-content: center;
}

.ultimate-aram-item-img-container {
	width: 100%;
	height: 300px;
	position: relative;
	display: inline-block;
}

.ultimate-aram-item-img-container img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}

.ultimate-aram-item-img-container h3 {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: gold;
	padding: 6px;
	border-radius: 15px;
}

.ultimate-aram-item-name {
	margin-top: 7px;
	margin-bottom: 7px;
	color: white;
	text-align: center;
}

.ultimate-aram-item-card {
	background-color: black;
	border-radius: 15px;
}

.ultimate-aram-item-card h3 {
	font-size: 18px;
}

.ultimate-aram-btn-container {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.idk-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
}
.ultimate-aram-checkbox-container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.ultimate-aram-label {
	color: white;
}

.ultimate-aram-btn {
	font-size: 18px;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 15px;
	background-color: aqua;
	cursor: pointer;
	transition: 400ms;
}

.ultimate-aram-btn:hover {
	background: rgb(255, 0, 255);
	background: -moz-linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	background: linear-gradient(
		90deg,
		rgba(255, 0, 255, 1) 28%,
		rgba(0, 255, 255, 1) 87%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00ff",endColorstr="#00ffff",GradientType=1);
}
/* end of ultimate aram styling*/

@media (max-width: 60em) {
	.primary-navigation {
		position: fixed;
		flex-direction: column;
		top: 0;
		right: 0;
		width: 70%;
		height: 86.75vh;
		backdrop-filter: blur(20px);
		background-color: rgba(0, 0, 0, 0.75);
		padding: min(10vh, 10rem) 2em;
	}
	.visible {
		display: flex;
		gap: 35px;
	}

	.hidden {
		display: none;
	}

	.mobile-nav-toggle {
		display: block;
		z-index: 9999;
		position: absolute;
		background: url(imgs/icon-hamburger.svg);
		background-repeat: no-repeat;
		width: 2rem;
		border: none;
		aspect-ratio: 1;
		top: 2rem;
		right: 2.5rem;
		cursor: pointer;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background: url(imgs/icon-close.svg);
		background-repeat: no-repeat;
	}
	.welcome,
	.aram-rankings-title,
	.tier-list-title,
	h3 {
		font-size: 40px;
	}

	.filter-key-container h3 {
		font-size: 24px;
	}

	.description {
		padding: 25px;
	}

	p {
		font-size: 18px;
	}

	.team-maker-container h3,
	.team-maker-player-flex h1 {
		font-size: 24px;
	}
}

@media (max-width: 1250px) {
	.wrapper {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.ultimate-aram-item-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 885px) {
	.team-maker-grid {
		grid-template-columns: 1fr;
	}

	.teams-grid {
		grid-template-columns: 1fr;
	}

	.team-maker-container h3,
	.team-maker-player-flex h1 {
		font-size: 24px;
	}

	.team-one {
		border: 0;
	}
	.team-two {
		border: 0;
	}
}

@media (max-width: 310px) {
	.team-maker-grid {
		grid-template-columns: 1fr;
	}

	.team-maker-player-flex {
		display: block;
	}

	.team-maker-player-flex h1 {
		display: inline;
		text-align: center;
	}

	.teams-grid {
		grid-template-columns: 1fr;
	}
	.team-one {
		border: 0;
	}
	.team-two {
		border: 0;
	}

	.hide-img {
		display: none;
	}
}

@media (max-width: 850px) {
	.tier-list-grid-container {
		grid-template-columns: 1fr;
	}
	.tier-list-column-two-grid {
		grid-template-columns: 1fr 1fr;
		padding: 15px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.letter-rank-tier {
		margin-bottom: 0;
		margin-top: 25px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0px;
	}

	.tier-list-column-two-grid-top {
		margin: 0;
	}
}

@media (max-width: 500px) {
	.nav-gif {
		width: 50px;
		margin: 5px;
	}

	.mobile-nav-toggle {
		top: 1.5rem;
		right: 1rem;
	}

	.tier-list-grid-container {
		grid-template-columns: 1fr;
	}
	.tier-list-column-two-grid {
		padding: 15px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.tier-list-grid-item {
		height: 100%;
	}

	.tier-list-img-container {
		height: 150px;
	}

	.letter-rank-tier {
		font-size: 120px;
		margin-bottom: 0;
		margin-top: 25px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0px;
	}

	.tier-list-column-two-grid-top {
		margin: 0;
	}
}

@media (max-width: 600px) {
	.ultimate-aram-item-img-container {
		height: 100px;
	}
}
